<!DOCTYPE html>
<html>
<head>
  <title>Colimastats</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <style>
  	#main{
		display: inline-block;
		float:left;
		margin-top: -8px;
		margin-left: -8px;
	}
	#stats{
		border:2px solid #222;
		float:left;
	}
	#stats h1{
		color:#FF0000;
	}
	#stats table
	{
		border-collapse:collapse;
	}
	#stats table,th,td
	{
		border:1px solid black;
	}
	#stats table,th
	{
		padding:8px;
	}
	#main table{
		border-collapse: collapse;
	}
	#main table,th,td
	{	
		border: none;
		border-top:1px solid black;
	}
	#city_name{
		color:blue;
	}
  </style>
</head>
<body>
  <div id='main'>
    <%= yield %>
  </div>
  <div id='stats'>
    <%= render 'layouts/stats' %>
  </div>
  <%= yield :scripts %>
</body>
</html>
